flask
langchain
chromadb
sentence-transformers
openai
pypdf
langchain-community
python-dotenv
opencv-python
ultralytics
tensorflow
tf-keras
transformers==4.44.2
sentence-transformers
chromadb
PyPDF2